<div class="row">
  <div class="journey-item-row">
    <div class="col s6 journey-item-image">
      <%= image_tag("airbnb", width: "300", class: "image-radius") %>
    </div>
    <div class="col s6">
      <h5><%= accommodation.name %></h5>
      <p>Owner: <%= accommodation.owner %></p>
      <p>Address: <%= accommodation.address %></p>
      <p>Guests: <%= accommodation.guests %></p>
      <p>Telepone: <%= accommodation.telephone %></p>
      <p>Price: <%= accommodation.price %></p>
      <p>Reservation No.: <%= accommodation.reservation_number %></p>

      <div class="journey-item-dates">
        <div class="arrival">
          <%= image_tag("arrival", width: "20", class: "dates-icon")%><p style="font-style: italic;"><%= accommodation.arrival_date %></p>
        </div>
        <div class="departure">
          <%= image_tag("departure", width: "20", class: "dates-icon")%><p style="font-style: italic;"><%= accommodation.departure_date %></p>
        </div>
      </div>
    </div>
  </div>
</div>
