<div class="container">
  <h1 style="text-align:center; margin: 0px; padding: 50px 0;"> My Journeys </h1>
    <div class="row" style="margin: 0;">
  <% @journeys.each do |journey| %>
      <div class="col s12 m6 l4">
            <%#= cl_image_tag journey.photo %>
        <a href=<%= "#{journey_path(journey)}" %>
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path journey.photo, height: 300, width: 400, crop: :fill %>'); background-size: cover;">
        <div class="journey-title">
          <h2><%= journey.name %></h2>
        </div>
        <div class="journey-dates">
          <h6><%= journey.start_date.strftime("%d.%m.%y") %></h6>
          <i class="far fa-calendar-alt" style="font-size: 22px;"></i>
          <h6><%= journey.end_date.strftime("%d.%m.%y") %></h6>
        </div>
        </a>
      </div>
      <% end %>
      <div class="col s12 m6 l4">
        <%#= cl_image_tag journey.photo %>
        <div class="card add-journey" style="background:#ccc;">
          <div class="add-top" style="height: 180px;">
          <h6> Add a journey </h6>
          <span  class="btn-floating btn-large btn modal-trigger add-journey-button modal-close"><i class="material-icons">add</i></span>
          </div>
          <div class="add-bottom" style="height: 60px;">
          </div>
          <a id="open-modal-new" href="#journeynew"></a>
        </div>
      </div>
    </div>


    <div id="journeynew" class="modal">
      <div class="form-container add-journey-form">
        <div class="form-box">
          <h2>Add a new journey</h2>

          <%= simple_form_for @journey do |f| %>

            <div class="form-inputs">
              <%= f.input :name, label: "Your journey's name", error: "Journey's name is mandatory, please specify one" %>
              <%= f.input :start_date, input_html: { class: 'datepicker'}, label: 'Start Date', error: "Start date is mandatory, please specify them" %>
              <%= f.input :end_date, input_html: { class: 'datepicker'}, label: 'End Date', error: "End date is mandatory, please specify them" %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Add Journey" %>
            </div>
          <% end %>

          <%#= render "devise/shared/links" %>
        </div>
      </div>
    </div>
</div>

<%#= "#{new_journey_path(journey)}" %>
