<div class="form-container">
  <div class="form-box">
    <h2>Add a new journey</h2>

    <%= simple_form_for @journey do |f| %>

      <div class="form-inputs">
        <%= f.input :name, label: "Your journey's name", error: "Journey's name is mandatory, please specify one" %>
        <%= f.input :start_date, label: 'Start Date', input_html: { class: "datepicker" },  error: "Start date is mandatory, please specify them" %>
        <%= f.input :end_date, label: 'End Date', input_html: { class: "datepicker" }, error: "End date is mandatory, please specify them" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add Journey" %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>
