<div class="footer">
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "roady_logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right">
      <%= link_to "+ Add a journey", "#", class: "navbar-item navbar-link" %>
      <%= link_to "Mails", "#", class: "navbar-item navbar-link" %>
      <%= link_to "My profil", "#", class: "navbar-item navbar-link" %>
  </div>
</div>
