<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "roady_logo.svg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right">

    <% if user_signed_in? %>
      <% nb_notification = current_user.unread_notifications.count %>
      <div class="notif-nav">
        <i class='material-icons small notification-bell dropdown-trigger' data-target='notifications'>notifications</i>
        <% unless nb_notification == 0 %>
          <span class="counter">
            <%= nb_notification %>
          </span>
        <% end %>
      </div>
      <!-- Dropdown Structure -->
      <ul id='notifications' class='dropdown-content top-navbar-height notif-width'>
        <% if current_user.unread_notifications.count == 0 %>
          <li class="no-notif">
            <p>No notifications</p>
          </li>
        <% else %>
          <% current_user.unread_notifications.each do |notification| %>
            <li class="notif-list">
              <%= link_to read_notification_path(notification), class: "notif-item", method: :patch do %>
                <i class="material-icons small tick">check_circle</i>
                <p><%= notification.message %></p>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <%= link_to "My journeys", journeys_path, class: "navbar-item navbar-link" %>
      <%= link_to destroy_user_session_path, class: "navbar-item navbar-link", method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>

      <!-- Profile picture -->
      <div class="navbar-item">
        <%= image_tag "nayeli.jpg", class: "avatar"%>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path, class: "navbar-item navbar-link" %>
      <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-item navbar-btn" %>
    <% end %>
  </div>
</div>
